In [20]:
import pandas as pd
import numpy as np

In [24]:
data=pd.read_csv('/train.csv')
center=pd.read_csv('/fulfilment_center_info.csv')
meal=pd.read_csv('/meal_info.csv')
test=pd.read_csv('/test.csv')

In [25]:
data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [26]:
center.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [27]:
meal.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [28]:
test.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [29]:
center.shape

(77, 5)

In [30]:

meal.shape

(51, 3)

In [31]:
test.shape

(32573, 8)

In [32]:
data=pd.concat([data,test],axis=0)
data=data.merge(center,on='center_id',how='left')
data=data.merge(meal,on='meal_id',how='left')
data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,177.0,647,56,TYPE_C,2.0,Beverages,Thai
1,1466964,1,55,1993,136.83,135.83,0,0,270.0,647,56,TYPE_C,2.0,Beverages,Thai
2,1346989,1,55,2539,134.86,135.86,0,0,189.0,647,56,TYPE_C,2.0,Beverages,Thai
3,1338232,1,55,2139,339.50,437.53,0,0,54.0,647,56,TYPE_C,2.0,Beverages,Indian
4,1448490,1,55,2631,243.50,242.50,0,0,40.0,647,56,TYPE_C,2.0,Beverages,Indian

In [34]:
data.isnull().any()

id                       False
week                     False
center_id                False
meal_id                  False
checkout_price           False
base_price               False
emailer_for_promotion    False
homepage_featured        False
num_orders                True
city_code                False
region_code              False
center_type              False
op_area                  False
category                 False
cuisine                  False
dtype: bool

In [35]:
data.num_orders.fillna(data.num_orders.mean(),inplace=True)
data.isnull().any()

id                       False
week                     False
center_id                False
meal_id                  False
checkout_price           False
base_price               False
emailer_for_promotion    False
homepage_featured        False
num_orders               False
city_code                False
region_code              False
center_type              False
op_area                  False
category                 False
cuisine                  False
dtype: bool

In [36]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data.center_type=le.fit_transform(data.center_type)
data.category=le.fit_transform(data.category)
data.cuisine=le.fit_transform(data.cuisine)
data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,177.0,647,56,2,2.0,0,3
1,1466964,1,55,1993,136.83,135.83,0,0,270.0,647,56,2,2.0,0,3
2,1346989,1,55,2539,134.86,135.86,0,0,189.0,647,56,2,2.0,0,3
3,1338232,1,55,2139,339.50,437.53,0,0,54.0,647,56,2,2.0,0,1
4,1448490,1,55,2631,243.50,242.50,0,0,40.0,647,56,2,2.0,0,1

In [37]:
X=data.drop(columns=['num_orders'],axis=1)
X.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,city_code,region_code,center_type,op_area,category,cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,647,56,2,2.0,0,3
1,1466964,1,55,1993,136.83,135.83,0,0,647,56,2,2.0,0,3
2,1346989,1,55,2539,134.86,135.86,0,0,647,56,2,2.0,0,3
3,1338232,1,55,2139,339.50,437.53,0,0,647,56,2,2.0,0,1
4,1448490,1,55,2631,243.50,242.50,0,0,647,56,2,2.0,0,1

In [38]:
y=data['num_orders']
y.head()

0    177.0
1    270.0
2    189.0
3     54.0
4     40.0
Name: num_orders, dtype: float64

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
X_train.shape

(342384, 14)

In [40]:
X_test.shape

(146737, 14)

In [ ]:
y_train.shape

In [41]:
y_test.shape

(146737,)

In [42]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor()
model.fit(X_train,y_train)

DecisionTreeRegressor()

In [43]:
X_train.shape

(342384, 14)

In [44]:
X_test.shape

(146737, 14)

In [45]:
y_train.shape

(342384,)

In [46]:
y_test.shape

(146737,)

In [47]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor()

In [48]:
model.fit(X_train,y_train)

DecisionTreeRegressor()

In [49]:
pred=model.predict(X_test)
pred

array([1026.,  162.,   40., ...,  188.,   41.,   42.])

In [50]:
from sklearn.metrics import mean_squared_error

In [51]:
RMLSE=np.sqrt(mean_squared_error(y_test,pred))
RMLSE

207.22009003406635